<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Негабаритные перевозки, монтаж и такелаж оборудования, собственное проектное бюро">
    <title>push_pull</title>
    <link rel="stylesheet" href="css/style_web.css">
    
    <link rel="stylesheet" href="html/DST.html">
    <link rel="stylesheet" href="html/ing.html">
    <link rel="stylesheet" href="html/project_trip.html">
   
    <script src="J_S/main_web.js"></script>
</head>
<body>
    <div id="golova">
        <img class='logotip' src="image_project/logo.jpg" alt="логотип">
    <h1>Тяни-толкай негабаритные и проектные перевозки услуги такелажа</h1>
    </div>
    <h3>Если не довезем тогда до толкаем!!</h3>
    

    <form id='search'action="">
        <input type="text" placeholder="Поиск по сайту">
        <button type="submit">поиск</button>
    </form>

    <form  id='zapros' action="">
        <input type="submit"  value="Отправить запрос на расчет"  placeholder="Заказать расчет" onclick="zapros_out">
        
    </form>
    <div id="menu">
        <li class="menu_list">
            <a href="#">Главная</a>
            <a href="#">Услуги</a>
            <a href="#">Парк техники</a>
            <a href="#">Отзывы</a>
            <a href="#">Фото наших работ</a>
                <div>
                <a href="html/DST.html">Перевозка дорожной техники</a>
                <a href="html/ing.html"> Перевозка емкостного оборудования</a>
                <a href="html/project_trip.html">Перевозка проектных грузов</a>
                </div>
            <a href="#">Контакты</a>
        </li>
    </div>
    <div>
        <h3>В ведите населенные пункты для расчета растояния</h3>
        <input type="text" id="city_1" value="Погрузка">
        <select name="#" id="way_1">
        <option value="1">Москва</option>
        <option value="2">Санкт-Петербург</option>
        <option value="3">Казань</option>
        <option value="4">Краснодар</option>
        </select>

        <input type="text" id="city_2" value="Разгрузка">
        <select name="#" id="way_2">
            <option value="1">Санкт-Петербург</option>
            <option value="2">Москва</option>
            <option value="3">Казань</option>
            <option value="4">Краснодар</option>
            </select>
        <button id="knopka" value="расчитать">расчитать</button onclick>
    </div>
  
    <div>content</div>
    <div>
        Существуют установленные нормы размеров перевозимого груза.
Если груз по ширине превышает 2,55 метров, по высоте — 4 метра, а длине — 20 метров, то он считается негабаритным.

Доставка негабаритного груза, это сложный процесс – компания «Тяни-Толкай» гарантирует доставку негабаритного груза в установленные сроки., при соблюдении всех правил и нормативов.

Самостоятельно перевезти негабаритный груз крайне сложно, так как есть строго регламентированные правила дорожного движения.
Основной гарантией безопасности являются квалифицированные сотрудники и автомобили прикрытия. Их функция — сопровождение негабаритных грузов и предупреждение других автовладельцев о возможных сложностях на дороге. Необходимость транспорта сопровождения (прикрытия) определяет Госавтоинспекция.

К негабаритному грузу относится:
<li id="list_gruz">
    <ul>Различное промышленное и сельхоз оборудование.</ul>
    <ul>Спецтехника и строительное оборудование.</ul>
    <ul>Резервуары для нефтепереработанных продуктов.</ul>
    <ul>Железобетонные и металлические изделия.</ul>
    <ul>Строительные изделия и готовые конструкции.</ul>
    <ul>Трубопроводы и их элементы.</ul>
</li>
</div>
<p></p>
Также в ПДД есть пункты, касающиеся непосредственно крупногабаритных грузов. Последние должны быть отмечены специальными знаками таблички должна быть светоотражающей. Сопровождать транспортное средства при перевозке крупногабаритного груза могут две или три машины: одна спереди и одна-две сзади. Каждую обклеивают специализированными наклейками желто-оранжевыми полосами, снабжают маячками и табличками.
При несоблюдении правил можно получить штраф!
Если вы хотите узнать цены перевозки негабаритного груза из вашего города до места назначения, а также задать вопросы относительно подготовки и документации, свяжитесь с нашими менеджерами, которые дадут исчерпывающие ответы и рассчитают точную стоимость.
</p>
    

    <!-- Контейнер меню -->
<div class="menu-container">
    <!-- Список меню -->
    <ul class="menu-list">

        <footer>
            <div class="waves">
                <div class="wave" id="wave1"></div>
            </div>
            <ul class="social">
                <li><a href="#"><ion-icon name="v-kontakte"></ion-icon></a></li>
                <li><a href="#"><ion-icon name="telegram"></ion-icon></a></li>
               
            </ul>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Партнеры</a></li>
                <li><a href="#">Правовая информация</a></li>
                <li><a href="#">Публичная оферта</a></li>
            </ul>
            <p>©2024 Академия Топ| Все права защищены</p>
        </footer>
        
    </body>        
  